body{
    background-color:#A1C4FA ;
    
}
.container{
    width: 700px;
    height: 600px;
    display: flex;
    margin-left: 350px;
}
.box1{
    position: relative;
    background-image: url("https://i.pinimg.com/564x/c2/28/a1/c228a1880ffc4bcb41f53c9c6963e077.jpg") ;
    width: 350px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 50px;
}
.box2{
    width: 350px;
    height: 600px;
    background-color:white ;

}
.text{
    position: absolute;
    bottom: 0;
   margin-left: 20px;
}
.text2{
    margin-left: 200px;
    margin-top: 50px;
    color: red;
}
.span{
    color: aqua;
}
.button{
    margin-top: 10px;
    background-color:#3964CA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 30px;
    
}
.box3{
    display: grid;
    width: 200px;
    height: 400px;
    margin-left: 30px;
}
.box4{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left:30px ;
}
.text1{
    margin-left: 20px;
}
.textp{
     padding-top: 20px;
}
.heading{
    margin-left: 30px;
}
@media screen and ( max-width : 425px) {
   
   .container{
    display: grid;
    margin-left: 150px;
    
   }
   .box1{
    width: 400px;
    height: 550px;
    margin-left: 50px;
    


   }
   .box2{
    width: 400px;
    height: 600px;
   }
}